
@import 'boot.css';
:root {
    --bs-primary: #AD00FF;
}
.btn-outline-success{
    --bs-btn-border-color: #CD3EFF;
    --bs-btn-hover-bg: #CD3EFF;
    --bs-btn-hover-border-color: #CD3EFF;
    color:gray;
}
.btn-outline-primary{
    --bs-btn-border-color: #AD00FF;
    --bs-btn-hover-bg: #AD00FF;
    --bs-btn-hover-border-color: #AD00FF;
}
.card-footer{
    background: #9747FF;

}
body{
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.postPlace{
    margin-left: 20%;
    margin-right: 20%;
    border: 0;
    height: max-content;
    display: grid;
    gap: 10px;
}
#post{
    transition: .5s;
}
#post:hover{
    transform: translateY(-3%);
    transition: .5s;
}
.header{
    border-bottom: 1px gray solid;
}
.header #header_main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}
.link{
    text-decoration: 0;
    color: gray;
}
.post-link{
    text-decoration: 0;
    color: black;
}
#content-main{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px gray solid;
    border-radius: 5px;
}
#content-main .content-body{
    margin-left: 1%;
    margin-right: 1%;
}
.register{
    margin: 0 20% 0 20%;
}
.register .form-center{
    margin: 0 10% 0 10%;
    border: 1px black solid;
    border-radius: 5px;
    display: grid;
    gap: 1%;

}
.register .form-center .password{
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    height: 2rem   ;
}
.register .form-center .username{
    margin-top: 10px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    height: 2rem   ;

}
.register .form-center .email{
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    height: 2rem   ;

}
.register .form-center #btn{
    margin: 0 30% 0 30%;
    border-radius: 15px;
    border: 0;
    height: 2rem   ;
}
.login{
    margin: 0 20% 0 20%;
}
.login .form-center{
    margin: 0 10% 0 10%;
    border: 1px black solid;
    border-radius: 5px;
    display: grid;
    gap: 1%;

}
.login .form-center .password{
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    height: 2rem   ;
}
.login .form-center .username{
    margin-top: 10px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    height: 2rem   ;

}
.login .form-center #btn{
    margin: 0 30% 0 30%;
    border-radius: 15px;
    border: 0;
    height: 2rem   ;
}