body{
    margin: 0;
}

.postPlace{
    margin-left: 20%;
    margin-right: 20%;
    border: 0;
    height: max-content;
}
#post{
    border: 1px solid black;
    background: #9747FF;
    color: white;
}
#post h3{
    margin-left: 1%;
    text-align: left;
}
#post .author{
    margin-right: 1%;
    text-align: right;
}
.header{
    height: 3rem;
    width: 100%;
    border-bottom: 1px gray solid;
}
.header #header_main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}
.profile{
    position: absolute;
    right: 20%;
}
.link{
    text-decoration: 0;
    color: gray;
}
.post-link{
    text-decoration: 0;
    color: white;
}