<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ tab }}</title>
</head>
<body>
{% if user == 'AnonymousUser' %} {% if tab == 'login' %}
    <h3>Войти</h3>
    {% for error in form.non_field_errors %}
    <span class="error-message">{{ error }}</span><br>
{% endfor %}
    <form method="post">{% csrf_token %}
        {{ form }}
    <input type="submit" value="Войти">
    </form>
{%  endif %} {% endif %}
{% if tab == 'register' %}{% if user == 'AnonymousUser' %}
    <div>
    <h3>Зарегистрироваться</h3>
        <form method="post">{% csrf_token %}
            {% for error in form.non_field_errors %}
                <span class="error-message">{{ error }}</span><br>
            {% endfor %}
            {{ form }}
    <input type="submit" value="Зарегистрироваться">
    </form>
    </div>
{% endif %} {% endif %}
{%  if error %}
<script>
    let error = '{{ error }}'
    if (error !== '0'){
        alert(error)
    }
</script>
{% endif %}
<style>
    .errorlist{
        display: none;
    }
</style>
</body>
</html>